.container{
  width: 90%;
  margin: auto;
  display: flex;
}
.left-part-lay-out{
  flex-basis: 70%;
  box-sizing: border-box;
  padding: 10px;
}
.right-part-lay-out{
  flex-basis: 30%;
  box-sizing: border-box;
  padding: 10px;
}
@media(max-width:990px){
  .left-part-lay-out,.right-part-lay-out{
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .container{
    flex-wrap: wrap;
  }

}

.left-part-lay-out .item .header{
  display: flex;
  justify-content: space-between;
}
.cards-info{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
@media(max-width:440px){
  .cards-info{
    flex-direction: column;
  }
}
.countries-cases{
  height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}
.countries-cases > div:nth-child(odd) {
 background-color:#e6e6e6;
}